/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/

/node_modules

/.phpunit-cache
/coverage

/public/dev_assets

/public/custom.css
/public/custom.js
/templates/home/custom.html.twig

php_errors.log
/.idea
