# This file defines a list of environment variables used to configure the application.
# Please copy this file as .env.local to configure the application in production.

####################################
# Configuration of the application #
####################################
# Define the environment of the application. It can be: prod, dev, test
# Don't change this value unless you know what you do.
APP_ENV="prod"

# A secret used to generate security tokens, **it must be changed!**
APP_SECRET="change-me"

# The base URL that serves your application. It is used to generate URLs in
# non-HTTP contexts (i.e. from the command line).
APP_BASE_URL="https://example.org"

# Set to customise the name of the application ("Pollaris" by default).
# APP_NAME="Pollaris"

# Uncomment to force the polls' authors to enter an email.
# APP_REQUIRE_EMAILS=true

#################################
# Configuration of the database #
#################################
# URL to connect to the database.
# Please adapt the credentials and the serverVersion.
DATABASE_URL="postgresql://user:password@localhost:5432/pollaris_production?serverVersion=15&charset=utf8"

########################################
# Configuration of the SMTP mailserver #
########################################
# Configure your mail server. It is used to send email notifications to the admins and participants.
# Uncomment the MAILER_* lines and set them to your needs.
# More documentation at https://symfony.com/doc/current/mailer.html (“Transport Setup”).
# MAILER_DSN="smtp://user:pass@mail.example.com:465"
# MAILER_FROM="noreply@example.com"
# MAILER_FROM_NAME="Pollaris admin"

#####################################
# Configuration of the async system #
#####################################
# Configure the Symfony Messenger transport.
# You should not change this value unless you know what you're doing.
# More documentation at https://symfony.com/doc/current/messenger.html#transport-configuration
MESSENGER_TRANSPORT_DSN="doctrine://default?auto_setup=0"
