/* This file is part of Pollaris. */
/* Copyright 2024-2025 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

:root {
    --color-grass1: #fbfefb;
    --color-grass2: #f5fbf5;
    --color-grass3: #e9f6e9;
    --color-grass4: #daf1db;
    --color-grass5: #c9e8ca;
    --color-grass6: #b2ddb5;
    --color-grass7: #94ce9a;
    --color-grass8: #65ba74;
    --color-grass9: #46a758;
    --color-grass10: #3e9b4f;
    --color-grass11: #2a7e3b;
    --color-grass12: #203c25;

    --color-iris1: #fdfdff;
    --color-iris2: #f8f8ff;
    --color-iris3: #f0f1fe;
    --color-iris4: #e6e7ff;
    --color-iris5: #dadcff;
    --color-iris6: #cbcdff;
    --color-iris7: #b8baf8;
    --color-iris8: #9b9ef0;
    --color-iris9: #5b5bd6;
    --color-iris10: #5151cd;
    --color-iris11: #5753c6;
    --color-iris12: #3e3882;

    --color-mauve1: #fdfcfd;
    --color-mauve2: #faf9fb;
    --color-mauve3: #f2eff3;
    --color-mauve4: #eae7ec;
    --color-mauve5: #e3dfe6;
    --color-mauve6: #dbd8e0;
    --color-mauve7: #d0cdd7;
    --color-mauve8: #bcbac7;
    --color-mauve9: #8e8c99;
    --color-mauve10: #84828e;
    --color-mauve11: #65636d;
    --color-mauve12: #211f26;

    --color-red1: #fffcfc;
    --color-red2: #fff7f7;
    --color-red3: #feebec;
    --color-red4: #ffdbdc;
    --color-red5: #ffcdce;
    --color-red6: #fdbdbe;
    --color-red7: #f4a9aa;
    --color-red8: #eb8e90;
    --color-red9: #e5484d;
    --color-red10: #dc3e42;
    --color-red11: #ce2c31;
    --color-red12: #641723;

    --color-primary1: var(--color-iris1);
    --color-primary2: var(--color-iris2);
    --color-primary3: var(--color-iris3);
    --color-primary4: var(--color-iris4);
    --color-primary5: var(--color-iris5);
    --color-primary6: var(--color-iris6);
    --color-primary7: var(--color-iris7);
    --color-primary8: var(--color-iris8);
    --color-primary9: var(--color-iris9);
    --color-primary10: var(--color-iris10);
    --color-primary11: var(--color-iris11);
    --color-primary12: var(--color-iris12);

    --color-grey1: var(--color-mauve1);
    --color-grey2: var(--color-mauve2);
    --color-grey3: var(--color-mauve3);
    --color-grey4: var(--color-mauve4);
    --color-grey5: var(--color-mauve5);
    --color-grey6: var(--color-mauve6);
    --color-grey7: var(--color-mauve7);
    --color-grey8: var(--color-mauve8);
    --color-grey9: var(--color-mauve9);
    --color-grey10: var(--color-mauve10);
    --color-grey11: var(--color-mauve11);
    --color-grey12: var(--color-mauve12);

    --color-success1: var(--color-grass1);
    --color-success2: var(--color-grass2);
    --color-success3: var(--color-grass3);
    --color-success4: var(--color-grass4);
    --color-success5: var(--color-grass5);
    --color-success6: var(--color-grass6);
    --color-success7: var(--color-grass7);
    --color-success8: var(--color-grass8);
    --color-success9: var(--color-grass9);
    --color-success10: var(--color-grass10);
    --color-success11: var(--color-grass11);
    --color-success12: var(--color-grass12);

    --color-error1: var(--color-red1);
    --color-error2: var(--color-red2);
    --color-error3: var(--color-red3);
    --color-error4: var(--color-red4);
    --color-error5: var(--color-red5);
    --color-error6: var(--color-red6);
    --color-error7: var(--color-red7);
    --color-error8: var(--color-red8);
    --color-error9: var(--color-red9);
    --color-error10: var(--color-red10);
    --color-error11: var(--color-red11);
    --color-error12: var(--color-red12);
}
