/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

a {
    color: var(--color-primary11);
}

.anchor--currentcolor {
    color: currentcolor;
}

.anchor--dotted {
    text-decoration: underline dotted;
}
