/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

button,
.button {
    --button-padding: var(--space-small) var(--space-large);
    --button-background-color: var(--color-primary1);
    --button-border-color: var(--color-primary11);
    --button-color: var(--color-primary11);

    display: inline-block;
    padding: var(--button-padding);

    color: var(--button-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;
    text-decoration: none;

    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);

    transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        filter 0.2s ease-in-out;

    cursor: pointer;
}

button:disabled,
.button:disabled {
    cursor: not-allowed;
    filter: grayscale(0.6) opacity(0.7);
}

button:hover:not(:disabled),
.button:hover:not(:disabled),
button[aria-expanded="true"],
.button[aria-expanded="true"] {
    --button-background-color: var(--color-primary3);
    --button-border-color: var(--color-primary12);
    --button-color: var(--color-primary12);
}

.button--primary {
    --button-background-color: var(--color-iris9);
    --button-border-color: var(--color-iris9);
    --button-color: var(--color-iris1);
}

.button--primary:hover:not(:disabled),
.button--primary[aria-expanded="true"] {
    --button-background-color: var(--color-iris12);
    --button-border-color: var(--color-iris12);
    --button-color: var(--color-iris1);
}

.button--danger {
    --outline-color: var(--color-error11);
    --button-background-color: var(--color-error11);
    --button-border-color: var(--color-error11);
    --button-color: var(--color-error1);
}

.button--danger:hover:not(:disabled),
.button--danger[aria-expanded="true"] {
    --button-background-color: var(--color-error12);
    --button-border-color: var(--color-error12);
    --button-color: var(--color-primary1);
}

.button--small {
    --button-padding: var(--space-small);
}

.button--smaller {
    --button-padding: var(--space-smaller) var(--space-small);
}

.button--icon {
    --button-padding: var(--space-smaller);

    border-radius: 100%;

    aspect-ratio: 1;
}

.button--block {
    display: block;
    width: 100%;
}

.button--ghost {
    --button-background-color: transparent;
    --button-border-color: transparent;
}

.button--ghost:hover,
.button--ghost[aria-expanded="true"] {
    --button-background-color: transparent;
    --button-border-color: var(--color-primary6);
}

.button--menuitem {
    --button-padding: var(--space-small) var(--space-smaller);
    --button-background-color: transparent;

    display: block;
    width: 100%;

    text-align: left;

    border: none;
}
