/* This file is part of Pollaris. */
/* Copyright 2024 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.icon {
    display: inline-block;
    margin-right: var(--space-smaller);
    margin-left: var(--space-smaller);
    aspect-ratio: 1;

    vertical-align: text-top;

    fill: currentcolor;
}
