/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.list--nostyle {
    padding: 0;

    list-style: none;
}

.list--nostyle dd {
    margin-left: 0;
}
