/* This file is part of Pollaris. */
/* Copyright 2024-2025 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.panel {
    padding: var(--space-medium);

    background-color: var(--color-grey3);
}

.panel--rounded {
    border-radius: var(--border-radius);
}

.panel--primary {
    background-color: var(--color-primary3);
}

.panel--success {
    color: var(--color-success12);

    background-color: var(--color-success3);
}

.panel__separator {
    margin-right: calc(-1 * var(--space-medium));
    margin-left:  calc(-1 * var(--space-medium));

    border-top: 2px solid var(--color-primary5);
}
