/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.panel--date {
    position: relative;
}

.panel--date__legend {
    position: sticky;
    top: 0;
    z-index: 10;

    display: block;
    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);

    background-color: var(--color-primary3);
}

.panel--proposal:has(.form__error) {
    box-shadow: 0 0 2px 1px var(--color-error9);
}

.proposals-table-container {
    position: relative;

    overflow-x: auto;
}

.proposals-table {
    --cell-width: 115px;

    margin-right: auto;
    margin-left: auto;

    border-collapse: separate;
    border-spacing: var(--space-small) var(--space-smaller);
}

@media print {
    .proposals-table {
        --cell-width: 75px;

        border-collapse: collapse;

        break-after: always;
    }
}

.proposals-table .proposal__day-week,
.proposals-table .proposal__day-month,
.proposals-table .proposal__month,
.proposals-table .proposal__label {
    display: block;
    width: var(--cell-width);

    font-size: var(--font-size-small);

    overflow-wrap: break-word;
}

.proposals-table .proposal__day-week,
.proposals-table .proposal__day-month,
.proposals-table .proposal__month {
    color: var(--color-grey11);
    font-weight: normal;
}

.proposals-table .proposal__label {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
}

.proposals-table .vote {
    display: block;
    width: var(--cell-width);
    margin-bottom: 0;
    padding: var(--space-small) var(--space-smaller);

    font-size: var(--font-size-normal);

    border: none;
}

.proposals-table .vote__choices {
    margin-bottom: var(--space-medium);

    flex-direction: column;
}

.proposals-table input.radio--vote + label {
    width: var(--cell-width);
    padding: var(--space-smaller);

    font-size: var(--font-size-smaller);
}

.proposals-table__sticky-cell {
    position: sticky;
    left: 0;
    z-index: 1;

    background-color: var(--color-grey1);
}

.proposals-table__sticky-cell:not(:empty) {
    border-right: 2px solid var(--color-grey6);
}

@media print {
    .proposals-table__sticky-cell:not(:empty) {
        border-right: none;
    }
}

.proposals-table__author {
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;

    width: 150px;
    padding: var(--space-small);

    font-size: var(--font-size-small);
    font-weight: normal;
    text-align: right;
    text-overflow: ellipsis;
}

@media(max-width: 500px) {
    .proposals-table__author {
        width: 125px;
    }
}

@media print {
    .proposals-table__author {
        width: 100px;
    }
}

.proposals-table__author--new {
    font-weight: bold;
}

.proposals-table__sum {
    padding: var(--space-small);

    font-weight: normal;
    font-style: italic;
    text-align: right;
}

/* Make sure that the scrollbox shadow doesn't pass over the authors column. */
.scrollbox:has(> .proposals-table-container)::before {
    left: 152px;
}

@media(max-width: 500px) {
    .scrollbox:has(> .proposals-table-container)::before {
        left: 127px;
    }
}
