/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.form__error {
    color: var(--color-error11);
    font-size: var(--font-size-small);
    font-weight: 500;
}
