/* This file is part of Pollaris. */
/* Copyright 2024 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

fieldset {
    border: none;
}

fieldset legend {
    font-size: var(--font-size-big);
    font-weight: bold;
}
