/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.form--standard {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.form--standard > * + * {
    margin-top: var(--space-large);
}
