/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

label {
    display: block;

    font-weight: 500;
}

.label__details {
    color: var(--color-grey11);
    font-size: var(--font-size-small);
}
