/* This file is part of Pollaris. */
/* Copyright 2024-2025 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

/**
 * Accessible custom checkboxes and radio buttons.
 * @see https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
 */
input[type="radio"] {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

input[type="radio"] + label {
    position: relative;

    display: inline-flex;

    align-items: center;
}

input[type="radio"] + label::before {
    content: "";

    position: relative;

    width: 25px;
    height: 25px;
    margin-right: var(--space-small);

    flex-shrink: 0;

    background-color: var(--color-grey1);
    border: 1px solid var(--color-grey12);
    border-radius: 50%;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type="radio"]:focus + label {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

input[type="radio"]:checked + label::before {
    border-color: var(--color-primary11);
}

input[type="radio"]:checked + label::after {
    content: "";

    position: absolute;

    width: 15px;
    height: 15px;
    margin-left: 5px;

    background-color: var(--color-primary11);
    border-radius: 100%;
}

input[type="radio"][disabled] + label {
    color: var(--color-corduroy);
    font-weight: normal;
}

input[type="radio"][disabled] + label::before {
    border-color: var(--color-corduroy);
}

input.radio--vote + label {
    --radio-vote-color: var(--color-primary11);
    --radio-vote-border-color: transparent;
    --radio-vote-background-color: var(--color-primary1);

    padding: var(--space-medium) var(--space-smaller);

    flex: 1;
    flex-direction: column;
    gap: var(--space-medium);

    color: var(--radio-vote-color);
    text-align: center;

    background-color: var(--radio-vote-background-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
}

@media (max-width: 500px) {
    input.radio--vote + label {
        font-size: var(--font-size-small);
    }
}

input.radio--vote:checked + label {
    border-color: var(--radio-vote-border-color);
}

input.radio--vote-yes:checked + label {
    --radio-vote-color: var(--color-success12);
    --radio-vote-border-color: var(--color-success11);
    --radio-vote-background-color: var(--color-success3);
}

input.radio--vote-maybe:checked + label {
    --radio-vote-color: var(--color-warning12);
    --radio-vote-border-color: var(--color-warning11);
    --radio-vote-background-color: var(--color-warning3);
}

input.radio--vote-no:checked + label {
    --radio-vote-color: var(--color-error12);
    --radio-vote-border-color: var(--color-error11);
    --radio-vote-background-color: var(--color-error3);
}

input.radio--vote + label::before {
    width: 2rem;
    height: auto;
    margin-right: 0;

    aspect-ratio: 1;

    background-color: var(--radio-vote-color);
    border: none;
    border-radius: 0;
    mask-image: var(--radio-vote-icon);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

input.radio--vote:checked + label::before {
    background-color: var(--radio-vote-border-color);
}

input.radio--vote-yes + label::before {
    --radio-vote-icon: url('../../../icons/square-check.svg');
}

input.radio--vote-maybe + label::before {
    --radio-vote-icon: url('../../../icons/square-minus.svg');
}

input.radio--vote-no + label::before {
    --radio-vote-icon: url('../../../icons/square-xmark.svg');
}

input.radio--vote + label::after {
    display: none;
}

.radio-container label {
    width: 100%;
    padding: var(--space-medium);

    background-color: var(--color-primary3);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

.radio-container input[type="radio"]:checked + label {
    border-color: var(--color-primary11);
}

.radio-container input[type="radio"] + label::before {
    position: absolute;
    right: var(--space-small);

    margin-right: 0;
    margin-left: var(--space-small);
}

.radio-container input[type="radio"]:checked + label::after {
    right: var(--space-small);

    margin-right: 5px;
    margin-left: 0;
}
