/* This file is part of Pollaris. */
/* Copyright 2024-2026 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

select {
    --select-color: inherit;
    --select-background-color: var(--color-grey1);
    --select-border-color: var(--color-grey12);
    --select-icon-size: 1.5rem;

    width: 100%;
    padding: var(--space-small);

    color: var(--select-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;
    text-overflow: ellipsis;

    background-color: var(--select-background-color);
    border: 1px solid var(--select-border-color);
    border-radius: var(--border-radius);

    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

select[aria-invalid="true"] {
    --select-border-color: var(--color-danger-solid);
}
